Show details
<p>
  <%= @photo.title %>
</p>

<p>
  <%= image_tag @photo.image_url %>
</p>

  <p>
    <%= link_to "Edit", edit_photo_path(@photo.id) %>
    <%= link_to "Delete", photo_path(@photo.id),  data: { "turbo-method": :delete }  %>
  </p>